:root {
    --hit-color: #38dd38;
    --failed-color: #5a93ff;
}

/**************BOARDS************************/

.disabled {
    pointer-events: none;
}

#boardsContainer {
    display: flex;
    justify-content: space-around;
}

.boardDiv {
    margin-top: 1rem;
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(11, 1fr);
}

/****************CELLS**********************/

.cellBtn {
    background: none;
    min-width: 2rem;
    min-height: 2rem;
    box-sizing: content-box;
    font-size: 15px;
}

.cellBtn:hover {
    background-color: #9797a0;
}

.miss {
    color: var(--failed-color);
    border-color: var(--failed-color);
    background-color: #5a93ff4d;
}

.visible > .ship {
    color: var(--hit-color);
    border-color: var(--hit-color);
    background-color: #38dd3840;
}

.hit {
    color: black;
    border-color: #e63d3d;
    background-color: #e63d3d;
}

.cellLetter,
.cellNumber {
    display: flex;
    justify-content: center;
    align-items: center;
}