body {
    margin: 0;
    box-sizing: content-box;
    color: white;
    background-color: #42414d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
}

.title {
    background-color: black;
    color: white;
    padding: 1.5rem;
    margin: 0;
}

#playerTurnH1 {
    margin: 0;
}

/*****RESET BUTTON*********/

.resetBtnDiv, #winH2, #playerTurnH1 {
    display: flex;
    justify-content: center;
}

.resetBtn {
    padding: .85rem;
    font-size: 1rem;
    border-radius: 8px;
}

.resetBtn:hover {
    background-color: red;
    color: white;
}